*{
    padding: 0;
    margin: 0;
    border: 0;
}

.logo{
    width: 30px;
   
}

header{
    margin-top: -100px;
}

#quienes-somos, #destacados, #contacto{
    background-color: black;
}

#quienes-somos hr{
    margin-left:200px;
    margin-right:200px;
}

#quienes-somos i{
    background-color: rgb(70, 165, 189);
    width: 100%;
}

